STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=DATABASE_URL=postgres://postgres:123@localhost:5432/medusa_b2b
DB_NAME=medusa-v2
EMAIL_FROM="Shamstools <info@shamstools.com>"
EMAIL_HOST=mail.spacemail.com
EMAIL_PORT=465
EMAIL_USER=info@shamstools.com
EMAIL_PASS=your-smtp-password